.container{
    margin: 100px auto;
    width: 30vw;
    max-height: 70vh;
    background: rgba(0,0,0,0.6);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.8), 0px 0px 0px 1px rgba(255,255,255,0.05);
    transition: 0.15s;
    border: 1px solid #000;
    border-radius: 3px;
    color: white;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}
.header{
    font-size: 20px;
}

.button{
    margin: 10px auto;
    width: 100px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    height: 30px;
    background-color: #3D3531;
}
.button_inner{
    font-size: 16px;
    height: 90%;
    border-radius: 2px;
    border-bottom: 1px solid black;
    color: #e7ffe9;
    display: flex;
    justify-content: center;
    background-color: #312B28;
}

.button:hover{
    background-color: #231B16;
}
.button:hover .button_inner{
    background-color: #463E37;
    font-weight: 600;
}
.payment{
    color: #DDC49D;
    margin: auto;
    cursor: pointer;
}
.payment_flag{
    margin: auto 5px auto 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
}
.payment_selected_flag{
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #13D829;
}