.header{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
}

.button{
    margin: 10px auto;
    width: 100px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    height: 30px;
    background-color: #3D3531;
}
.button_inner{
    font-size: 16px;
    height: 90%;
    border-radius: 2px;
    border-bottom: 1px solid black;
    color: #e7ffe9;
    display: flex;
    justify-content: center;
    background-color: #312B28;
}

.button:hover{
    background-color: #231B16;
}
.button:hover .button_inner{
    background-color: #463E37;
    font-weight: 600;
}
.payment {
    color: #DDC49D;
    margin: auto;
    cursor: pointer;
}
.payment tr{
    display: grid;
    width: 16vw;
    grid-template-columns: auto auto 1fr auto;
    grid-auto-flow: row;
    margin-bottom: 10px;
}
.payment tr td{
    margin: auto;
}
.payment_flag{
    margin: auto 5px auto 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
}
.payment_selected_flag{
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #13D829;
}