.header{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
}
.payment {
    color: #DDC49D;
    margin: auto;
    cursor: pointer;
}
.payment tr{
    display: grid;
    width: 16vw;
    grid-template-columns: auto auto 1fr auto;
    grid-auto-flow: row;
    margin-bottom: 10px;
}
.payment tr td{
    margin: auto;
}
.payment_flag{
    margin: auto 5px auto 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
}
.payment_selected_flag{
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #13D829;
}