.container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "img tools"
    "img another";
}
.imgContainer{
    padding: 2px;
    margin: 10px;
    grid-area: img;
    aspect-ratio: 1/1;
}
.container img {
    margin: auto;
    max-width: 100%;
}

.tools {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    grid-area: tools;
    margin: 10px 10px 0 0;
}

.tools * {
    margin: auto 0;
}