.input{
    background: url("../images/ui/tt_tl_tiny_i_m_bb.webp") top left no-repeat,
    url("../images/ui/tt_tr_tiny_i_m_bb.webp") top right no-repeat,
    url("../images/ui/tt_bl_tiny_i_m_bb.webp") bottom left no-repeat,
    url("../images/ui/tt_br_tiny_i_m_bb.webp") bottom right no-repeat,
    url("../images/ui/tt_border_t_tiny_i.webp") top repeat-x,
    url("../images/ui/tt_border_b_tiny_i.webp") bottom repeat-x,
    url("../images/ui/tt_border_l_tiny_i.webp") left repeat-y,
    url("../images/ui/tt_border_r_tiny_i.webp") right repeat-y,
    rgba(0, 0, 0, 0.43);
    padding: 10px 20px;
    outline: none;
    border: none;
    color: #f0e7d8;
    font-size: 16px;
    opacity: .77;
}
.input:focus{
    opacity: 1;
}
.input::placeholder{
    color: #7D7161;
}


.tinyBoxContainer{
    background: url("../images/ui/tt_tl_tiny_i_m_bb.webp") top left no-repeat,
    url("../images/ui/tt_tr_tiny_i_m_bb.webp") top right no-repeat,
    url("../images/ui/tt_bl_tiny_i_m_bb.webp") bottom left no-repeat,
    url("../images/ui/tt_br_tiny_i_m_bb.webp") bottom right no-repeat,
    url("../images/ui/tt_border_t_tiny_i.webp") top repeat-x,
    url("../images/ui/tt_border_b_tiny_i.webp") bottom repeat-x,
    url("../images/ui/tt_border_l_tiny_i.webp") left repeat-y,
    url("../images/ui/tt_border_r_tiny_i.webp") right repeat-y,
    url("../images/ui/bgtile_bl.png") repeat;
    padding: 4px 10px;
    color: #e7ffe9;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
}

.preloader{
    background-color: transparent;
    display: flex;
    margin: 0 auto;
    aspect-ratio: 1/1;
}
.preloader:after{
    background-color: inherit;
    content: " ";
    width: 36%;
    aspect-ratio: 1 / 1;
    border: 5px solid rgba(255, 255, 255, .4);
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    margin: auto;
    display: block;
    animation: rotating 1s infinite linear;
}

@keyframes rotating {
    100% {transform: rotate(360deg); }
}

.frame_gray,
.frame_brown{
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 3px;
    color: white;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
}
.frame_brown{
    background: rgba(15, 11, 8, 0.52);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.8), 0px 0px 0px 1px rgba(255,255,255,0.06);
}
.frame_gray{
    background: rgba(0,0,0,0.6);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.8), 0px 0px 0px 1px rgba(255,255,255,0.05);
}

.header{
    color: #d1be9f;
    font-weight: 600;
}

.row_content_container{
    display: flex;
}
.row_content_container * {
    margin: auto 10px auto 0;
}
.time {
    margin-left: auto;
    color: #84b7ff;
    font-weight: 600;
}

