.container{
    border-left: 2px solid black;
    box-shadow: inset 1px 0px 0px 0px rgba(255,255,255,0.05);
    padding-left: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.languages_panel{
    padding: 10px;
    position: absolute;
    top:62px;
    right: 30px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto;
    gap: 10px;
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.8), 0px 0px 0px 1px rgba(255,255,255,0.05);
    background: url("../../images/ui/tt_tl_tiny_i_b.png") top left no-repeat,
    url("../../images/ui/tt_tr_tiny_i_b.png") top right no-repeat,
    url("../../images/ui/tt_bl_tiny_i_b.png") bottom left no-repeat,
    url("../../images/ui/tt_br_tiny_i_b.png") bottom right no-repeat,
    url("../../images/ui/tt_border_t_tiny_i_b.png") top repeat-x,
    url("../../images/ui/tt_border_b_tiny_i_b.png") bottom repeat-x,
    url("../../images/ui/tt_border_l_tiny_i_b.png") left repeat-y,
    url("../../images/ui/tt_border_r_tiny_i_b.png") right repeat-y,
    url("../../images/ui/bgtile_bl.png") repeat;
    border: 1px solid black;
    visibility: collapse;
}
.expand{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff3de;
    cursor: pointer;
}
.language{
    padding: 5px;
    cursor: pointer;
}
.language:hover{
    color: #e7ffe9;
}
.container:has(.expand:focus) .languages_panel,
.languages_panel:hover{
    visibility: visible;
}