.container {
    padding: 15px 10px 10px 10px;
    display: grid;
    grid-auto-flow: row;
    column-gap: 10px;
    font-weight: 600;
}

.top_part,
.bottom_part{
    display: flex;
}
.link {
    color: #cfd0fe;
    text-decoration: none;
}

